<div class="header block row">
    <div class="anchor col" (click)="navigateTo('aboutMe')">
        <img src="../../../assets/favicon_io/favicon-32x32.png">
    </div>
    <div class="nav-items col">
        <div class="items row">
            <div class="item">
                <button mat-flat-button (click)="navigateTo('aboutMe')">About Me</button>
            </div>
            <div class="item">
                <button mat-flat-button (click)="navigateTo('work')">Work Experience</button> 
            </div>
            <div class="item">
                <button mat-flat-button (click)="navigateTo('portfolio')">Portfolio</button> 
            </div>
            <div class="item">
                <button mat-flat-button (click)="navigateTo('hobbies')">Hobbies</button> 
            </div>
        </div>
    </div>
</div>
