<div class="header block row" *ngIf="!isMobile; else mobileContainer">
    <div class="anchor col" (click)="navigateTo('aboutMe')">
        <img src="../../../assets/favicon_io/favicon-32x32.png">
    </div>
    <div class="nav-items col">
        <div class="items row">
            <div class="item">
                <button mat-flat-button (click)="navigateTo('aboutMe')">About Me</button>
            </div>
            <div class="item">
                <button mat-flat-button (click)="navigateTo('work')">Work Experience</button> 
            </div>
            <div class="item">
                <button mat-flat-button (click)="navigateTo('portfolio')">Portfolio</button> 
            </div>
            <div class="item">
                <button mat-flat-button (click)="navigateTo('interests')">Interests</button> 
            </div>
        </div>
    </div>
</div>

<ng-template #mobileContainer>
    <div class="header header--mobile block row" id="header">
        <div class="hamburger">
            <img (click)="showMenu()" class="hamburger-image" src="../../../assets/favicon_io/icons8-menu-32.png">
        </div>
        <div class="anchor anchor--mobile col">
            <img (click)="navigateTo('aboutMe')" src="../../../assets/favicon_io/favicon-32x32.png">
        </div>
        <div id="dropdown" (click)="hideMenu()">
            <div id="text-1" (click)="navigateTo('aboutMe')">About Me</div>
            <div id="text-2" (click)="navigateTo('work')">Work Experience</div>
            <div id="text-3" (click)="navigateTo('portfolio')">Portfolio</div>
            <div id="text-4" (click)="navigateTo('interests')">Interests</div>
        </div>
        <!-- <div class="header-padding"></div> -->
    </div>
</ng-template>

