.header {
    background-color:#F5F5F5;
    justify-content: space-between;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 2;
    box-shadow: 
    0 3px 5px -1px rgba(0,0,0,.2), 
    0 6px 10px 0 rgba(0,0,0,.14), 
    0 1px 18px 0 rgba(0,0,0,.12);
    .anchor {
        align-self: flex-start;
        margin-right: 16px;
        height: 32px;
        justify-self: center;
        img {
            box-shadow: 
            0 3px 5px -1px rgba(0,0,0,.2), 
            // 0 6px 10px 0 rgba(0,0,0,.14), 
            // 0 1px 18px 0 rgba(0,0,0,.12);
        }
    }
    .nav-items {
        align-self: flex-end;
        .item {
            align-self: center;
            height: 32px;
            margin-right: 16px;
            border-radius: 25px;
            color: #424242;
            &:last-of-type {
                margin-right: 0px;
            }
            button {
                height: 32px;
                background-color: #F5F5F5;
                font: 600 18px ,Arial,sans-serif;
                letter-spacing: .025em;
                border: none;
            }
            button:hover {
                background-color: #EEEEEE;  
            }
        }
    }
}