<div class="header block row">
    <div class="anchor col">
        HJ
    </div>
    <div class="nav-items col">
        <div class="items row">
            <div class="item" >
                <a (click)="navigateTo('aboutMe')">About Me</a> 
            </div>
            <div class="item">
                <a (click)="navigateTo('work')">Work Experience</a> 
            </div>
            <div class="item">
                <a (click)="navigateTo('portfolio')">Portfolio</a> 
            </div>
            <div class="item">
                <a (click)="navigateTo('hobbies')">Hobbies</a> 
            </div>
        </div>
    </div>
</div>
