.app {
    display: flex;
    .row {
        display: flex;
        -webkit-flex-direction: row;
        -ms-flex-direction: row;
        flex-direction: row;
        &--wrap {
            flex-wrap: wrap;
        }
    }
    .column {
        display: flex;
        -webkit-flex-direction: column;
        -ms-flex-direction: column;
        flex-direction: column;
        &--wrap {
            flex-wrap: wrap;
        }
    }
}