.app {
    display: flex;
    height: 100%;
    font-family: sharp sans,Arial,sans-serif;
    line-height: calc(1em + 8px);
    .heading-1 {
        font-weight: thin;
        font-size: 34px;
        &--title {
            margin-bottom: 8px;
        }
        &--links {
            margin-right: 8px;
        }
    }

    .heading-2 {
        font-weight: thin;
        font-size: 20px;
        &--title {
            margin-bottom: 16px;
        }
        &--links {
            margin-right: 8px;
        }
    }
    .heading-3 {
        font-weight: thin;
        font-size: 16px;
        &--title {
            margin-bottom: 8px;
        }
        &--links {
            margin-right: 8px;
        }
    }

    .row {
        display: flex;
        -webkit-flex-direction: row;
        -ms-flex-direction: row;
        flex-direction: row;
        &--wrap {
            flex-wrap: wrap;
        }
    }
    .column {
        display: flex;
        -webkit-flex-direction: column;
        -ms-flex-direction: column;
        flex-direction: column;
        &--wrap {
            flex-wrap: wrap;
        }
    }
    .block {
        padding: 16px 24px;
    }

    .page {
        padding: 16px 24px;
        min-height: 100%;
        height: auto;
        scroll-margin-top: 4rem;
        background-color: #EEEEEE;
        border: 1px solid black;
        .about-me {
            width: 100%;
            align-items: center;
            background-repeat: no-repeat;
            background-image: url('../assets/favicon_io/rsz_heeirun.jpg');
            background-size: 100%;
            .info-container {
                align-self: flex-end;
                // background-color: #BDBDBD;
                margin-right: 24px;
                padding: 0px;
                margin-top: 32px;
                .info {
                    background-color: #EEEEEE;
                    color: black;
                    // .linkedin {
                    //     color: blue;
                    // }
                }
            }
        }

        &--about-me {
            padding: 16px 0px;
        }
    }
}