<div class="app">
    <div class="landing column">
        <app-header class="app-header" (Navigate)="navigateTo($event)"></app-header>
        <div class="page page--about-me row" #aboutMe>
            <!-- <img src="../../assets/favicon_io/rsz_heeirun.jpg" style="max-height: 100%; max-width: 100%;"> -->
            <div class="about-me column">
                <div class="block row"></div>
                <div class="block row"></div>
                <div class="block info-container row">
                    <div class="block info column">
                        <span class="heading-1 heading-1--title">Heeirun Jayakumar</span>
                        <span class="heading-2 heading-2--title">Software Engineer, Full Stack</span>
                        <span class="heading-3 heading-3--title"> 👨🏽‍💻 Software Engineering Intern @ Eatstreet Inc.</span>
                        <span class="heading-3 heading-3--title"> 🎓 University of Wisconsin-Madison</span>

                        <div class="link-info row">
                            <a href="https://www.google.com/" class="heading-3 heading-3--links" target="_blank" rel="noopener noreferrer">
                                <img class="resume" src="../../assets/favicon_io/resume.svg">
                                <span>Resume</span>
                            </a>
                            <a href="https://www.linkedin.com/in/heeirun/" class="heading-3 heading-3--links linkedin" target="_blank" rel="noopener noreferrer">
                                <img src="../../assets/favicon_io/linkedin.svg">
                                <span>LinkedIn</span>
                            </a>
                            <a href="https://github.com/Heeirun" class="heading-3 heading-3--links" target="_blank" rel="noopener noreferrer">
                                <img class="github" src="../../assets/favicon_io/github.svg">
                                <span>Github</span>
                            </a>
                        </div>
                        <span></span>
                    </div>
                </div>
            </div>
        </div>
        <div class="page row" #work>Work Experience</div>
        <div class="page row" #portfolio>Portfolio</div>
        <div class="page row" #hobbies>Hobbies</div>
    </div>
</div>
